<div class="h-container">

    <div class="login-container">



        <div class="imgcontainer">
            <img class="avatar" alt="Avatar" src="assets/img/karo_logo.png">
        </div>



        <input type="email" placeholder="Enter Email" id="email" name="email" [(ngModel)]="email" required>



        <input type="password" placeholder="Enter Password" id="pwd" name="passowrd" [(ngModel)]="password" required>

        <button type="submit" (click)="login()">Submit</button>


    </div>
    <div class="login-container"></div>
</div>
<!-- 

<div class="container">
    <div class="login-container">

        <div>
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default" (click)="login()">Submit</button>

    </div>
</div>-->