.city-detail-container {
    width: 980px;
    height: 600px;
    margin-left: 194px;
    margin-top: 50px;
    border: 0px solid green;
    overflow: auto;
}

.detail_container {
    width: 976px;
    height: 540px;
    border: 0px solid red;
    margin-left: 0px;
    margin-top: 0px;
}

.e1 {
    color: #003971;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 28px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

.e1_container {
    height: 40px;
    width: 658px;
    border: 0px solid red;
    margin-left: 314px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.e2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

.e2_container {
    height: 410px;
    width: 658px;
    border: 0px solid red;
    margin-left: 314px;
    margin-top: 0px;
}

.m1 {
    color: #003971;
    margin-right: 145px;
}

.m2 {
    color: #003971;
    margin-right: 70px;
}

button {
    text-decoration: none;
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
    background-color: #2b7cb3;
    border-radius: 4px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    color: white;
    background-color: #ef476f;
}

button.goback {
    height: 32px;
    width: 90px;
    font-size: 18px;
    margin-left: 0px;
    margin-top: 98px;
}

button.save {
    height: 32px;
    width: 56px;
    font-size: 18px;
    margin-left: 5px;
}